body {
    background: linear-gradient(to top, lightslategray, black) no-repeat fixed;
    font-family: 'Verdana', 'Arial', sans-serif;
    overflow-x:hidden;
    overflow-y: auto;
    width: auto;

}

.title {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}
.iu {
    color: yellowgreen;
    width: 50%;
}
a {
    text-decoration: none;
}
.name {
    color: lavenderblush;
    text-align: right;
    width: 50%;
}

hr {
    color: lightslategray;
}

main {
    display: flex;
}
.main_info {
    width: 50%;
}
.block_info {
    background: lavenderblush;
    margin: 15px;
    border-radius: 15px;
    padding: 20px;
}
.proj {
    a {
        color: black;
    }
    margin: 5px;
    max-height: 200px;
}
.image-hob {
    display: flex;
    position: relative;
    img {
        align-items: center;
        width: 30%;
        border-radius: 20px;
        margin: 5px;
        max-height: 100%;
    }
}

#photo {
    width: 50%;
    margin: 15px;
    img {
        max-width: 100%;
        margin-left: 15%;
        max-height: 70%;
        border-radius: 50px 10px;
    }
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    img {
        max-height: 35px;
        margin: 5px;
    }
    p {
        color: lavenderblush;
        font-weight: 800;
    }
}

.comic-part {
    text-align: center;
    margin: 5%;
    color: lightskyblue;
    button {
        border-radius: 15px;
        padding: 1%;
        background: lavenderblush;
        font-size: 20px;
        transition: all 0.5s;
    }
    button:hover {
        background: lightskyblue;
        font-size: 25px;
    }
}